<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/about_style.css">
  </head><body>
  <div class="nav-wrapper">
   <nav class="nav-menu">
      <ul class="clearfix">
         <li><a href="/">Home</a></li>
         <li><a href="/contact">Contact us</a>
         <ul class="sub-menu"></ul> </li>
         <li><a href="about">About us</a>
         <ul class="sub-menu"> 
           </ul> </li></ul></nav></div> 
  <style>
a:link, a:visited {.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:black!important}

.w3-round-small{border-radius:2px}.w3-round,.w3-round-medium{border-radius:4px}.w3-round-large{border-radius:8px}.w3-round-xlarge{border-radius:16px}.w3-round-xxlarge{border-radius:32px}
    background-color: grey;
    color: black;
  font-size:25px;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  font-family: 'Montserrat',sans-serif;
 
}


a:hover, a:active {
    background-color: #ea5e00;
}style
img.a {
    vertical-align: baseline;
}
    

</style>
  

      <div class="logo"><img src="https://scontent.fagc1-2.fna.fbcdn.net/v/t1.0-9/44455611_738116483209690_6528519979782897664_o.jpg?_nc_cat=110&_nc_ht=scontent.fagc1-2.fna&oh=66dca4c680b02878b83b9f0197b6e420&oe=5C58E084" height="150"></div>
  
  <div class="text">
    We are young female apprentices who have graduated from Kode With Klossy Level 1 (https://www.kodewithklossy.com/). While we are working our ways in the tech industry, we would like to make your life more convinient. We got inspiration by the fact that many females do not know what presents to give their male figures and usually, men do not receive gifts on the special events. Therefore, we believe giving gifts should be as fun as receiving them and we hope our CELEBRO can help you. 
    <p>Love, The ManBox Creators - Leyla, Wendy & Maya</p>
  </div>

  <div class="pattern"><img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.15752-9/s2048x2048/39262783_177994119659230_5978462392902746112_n.png?_nc_cat=0&oh=1655d366aaf08df78b2dd79a1197a77a&oe=5C04B966"></div></body> </html>
